{% extends 'base.html' %}


{% block main %}

<div class="row">
    <div class="col-sm">
        One of three columns
    </div>
    <div class="col-sm">
        Ola {{ user.employee.name }}
        <a href="{% url 'list_employees' %}">Gerenciar funcionários</a>
        <a href="{% url 'list_departments' %}">Gerenciar departamentos</a>
        <a href="{% url 'list_overtimes' %}">Gerenciar Hora Extras</a>
    </div>
    <div class="col-sm">
        <a href="{% url 'logout' %}">Logout</a>
        {% if user.employee.company %}
            <a href="{% url 'edit_company' user.employee.company.id %}">Edit company</a>
        {% else %}
            <a href="{% url 'create_company' user.employee.company.id  %">Create company</a>
        {% endif %}
    </div>
</div>

{% endblock %}